name: Build image and push to ghcr.io

on:
  push:
    tags:
      - 'v*'

env:
  REGISTRY: ghcr.io # GitHub's registry
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

jobs:
  docker:
    if: ${{ github.repository != 'starter-kits-usmb/back-nestjs' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      # "download" the code
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ env.REGISTRY}}/${{ github.repository }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=tag
            type=sha,prefix=
            type=sha,format=long,prefix=
      # setup the new build system of Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # login to the previously-defined registry, ghcr.io by default
      - name: Login to the registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
